
<!-- <button mat-raised-button color="accent" class="bold" (click)="status=!status; bold()">Bold</button> -->
<button mat-raised-button (click)="bold()" class="bold" color="accent" [ngClass]="{'green' : toggle, 'red': !toggle}">{{status}}</button>
<button mat-raised-button (click)="italics()" class="Italics" color="accent" [ngClass]="{'green' : toggle_italics, 'red': !toggle_italics}">{{toggle_status}}</button>
<button mat-raised-button (click)="underlined()" class="underlined" color="accent" [ngClass]="{'green' : toggle, 'red': !toggle}">{{underline_status}}</button>



  <mat-form-field appearance="fill">
      <mat-label>Favorite car</mat-label>
      <select matNativeControl  name="car">
        <option value="" selected>Size</option>
        <option *ngFor="let car of cars" [value]="car.value">
          {{car.viewValue}}
        </option>
      </select>
    </mat-form-field>
    <p>  </p>



<textarea  name="area3" style="width: 80%; height: 400px;"  [ngClass]="{text_type_bold: isbold, normal: !isbold}">
   
</textarea>